Unattended-Upgrade::Allowed-Origins {
  "${distro_id}:${distro_codename}-security";
};
{% if reboot_time_after_security_upgrades %}
Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "{{ reboot_time_after_security_upgrades }}";
{% endif %}
